#!/bin/sh
# {{ ansible_managed }}
{% for item in skel_default_bash_aliases|dict2items %}
alias {{ item.key }}='{{ item.value }}'
{% endfor %}
{% for item in skel_bash_aliases|dict2items %}
alias {{ item.key }}='{{ item.value }}'
{% endfor %}
